@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(babka1.png);
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
  transition: background-image 0.3s;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  .logo {
    color: #303030;
    font-size: 36px;
    font-family: "Great Vibes", cursive;
  }

  .btn {
    color: white;
    background-color: #303030;
    padding: 15px 50px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
  }
}

.content {
  margin-top: 22vh;
  h2 {
    color: #7f1734;
    font-size: 34px;
  }

  h1 {
    color: #303030;
    font-size: 64px;
  }

  p {
    max-width: 500px;
    font-weight: 500;
    font-size: 18px;
    color: #303030;
  }

  h3 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
  }

  .btn {
    color: white;
    background-color: #fdf5e6;
    padding: 15px 50px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px;
  }

  .colour-select {
    margin-top: 40px;
    color: #303030;
  }

  a {
    cursor: pointer;
  }

  #czekolada {
    background-color: #5c311c;
  }

  #wisnia {
    background-color: #790604;
  }
}

.more {
  margin-top: 50px;
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
}
