@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(babka1.png);
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
  transition: background-image 0.3s;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  .logo {
    color: #303030;
    font-size: 36px;
    font-family: "Great Vibes", cursive;
  }

  .btn {
    color: white;
    background-color: #303030;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
  }
}

.content {
  margin-top: 15vh;
  h2 {
    color: #7f1734;
    font-size: 34px;
  }

  h1 {
    color: #303030;
    font-size: 64px;
  }

  p {
    max-width: 500px;
    font-weight: 500;
    font-size: 18px;
    color: #303030;
  }

  h3 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
  }

  .btn {
    color: white;
    background-color: #fdf5e6;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px;
  }

  .colour-select {
    margin-top: 40px;
    color: #303030;
  }

  a {
    cursor: pointer;
  }

  .btn {
    border: 1px solid #303030;
    background: transparent;
    color: #303030;
    transition: background-color 0.25s;
    transition: color 0.25s;
  }

  #dynia:hover {
    background-color: #ff7518;
    color: white;
    border: 1px solid #ff7518;
  }

  #dynia.active {
    background-color: #ff7518;
    color: white;
    border: 1px solid #ff7518;
  }

  #cytryna:hover {
    background-color: #fde910;
    color: white;
    border: 1px solid #fde910;
  }

  #cytryna.active {
    background-color: #fde910;
    color: white;
    border: 1px solid #fde910;
  }
}

.more {
  margin-top: 50px;
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
}

@media all and (max-width: 576px) {
  .content {
    margin-top: 10vh;
    p {
      font-size: 14px;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      margin-top: 15px;
    }

    .colour-select {
      margin-top: 15px;
    }

    .more {
      margin-top: 30px;
    }

    .btn {
      font-size: 14px;
      padding: 10px 20px;
      margin-right: 5px;
    }
  }

  nav .logo {
    font-size: 32px;
  }

  nav .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
