@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(Cupcake_pumpkin.png);
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  color: #303030;
  font-size: 36px;
  font-family: "Great Vibes", cursive;
}

nav .btn {
  color: #303030;
  border: 1px solid #303030;
  background: transparent;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

nav .btn:hover {
  color: white;
  background-color: #303030;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
}

.content {
  margin-top: 15vh;
}

.content h2 {
  color: #7f1734;
  font-size: 34px;
}

.content h1 {
  color: #303030;
  font-size: 64px;
}

.content p {
  max-width: 500px;
  font-weight: 500;
  font-size: 18px;
  color: #303030;
}

.content h3 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
}

.content .btn {
  color: #303030;
  border: 1px solid #303030;
  background: transparent;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.content .colour-select {
  margin-top: 40px;
  color: #303030;
}

.content a {
  cursor: pointer;
}

.content #dynia.active {
  background-color: #ff7518;
  color: white;
  border: 1px solid #ff7518;
}

.content #cytryna.active {
  background-color: #fde910;
  color: white;
  border: 1px solid #fde910;
}

.more {
  margin-top: 50px;
}

.more a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.background {
  background-image: url(background.png);
}

.carousel-container {
  text-align: center;
  padding: 20px 10%;
}

.carousel-container h1 {
  font-size: 34px;
  margin-bottom: 30px;
}

.slick-arrow {
  background: transparent;
  border-style: solid;
  border: 1px solid #303030;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 50%;
}

.slick-arrow:hover {
  background: #303030;
  color: white;
}

.slick-slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slider .produkt {
  background: white;
  text-align: center;
}

.slick-slide {
  margin: 5px;
}

.kontakt {
  padding: 20px 10%;
}

.kontakt h1 {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.kontakt p {
  max-width: 500px;
}

.kontakt .ikony {
  margin: 50px 0;
}

.kontakt .ikony div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kontakt .ikony p {
  margin-left: 50px;
}

.kontakt i {
  color: #7f1734;
}

.stopka {
  padding: 150px 10%;
  background: #7f1734;
  color: white;
  min-height: 500px;
}

.stopka .logo {
  font-size: 36px;
  font-family: "Great Vibes", cursive;
}

@media all and (max-width: 576px) {
  .container {
    background: url(mobile_pumpkin.png);
    background-size: cover;
    background-position: bottom;
  }
  .content {
    margin-top: 2vh;
  }
  .content p {
    font-size: 14px;
  }
  .content h1 {
    font-size: 32px;
  }
  .content h2 {
    font-size: 18px;
  }
  .content h3 {
    margin-top: 15px;
  }
  .content .colour-select {
    margin-top: 15px;
  }
  .content .more {
    margin-top: 30px;
  }
  .content .btn {
    font-size: 14px;
    padding: 10px 20px;
    margin-right: 5px;
  }
  nav .logo {
    font-size: 32px;
  }
  nav .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
  nav .btn:hover {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media all and (min-width: 1024px) {
  #dynia:hover {
    background-color: #ff7518;
    color: white;
    border: 1px solid #ff7518;
  }
  #cytryna:hover {
    background-color: #fde910;
    color: white;
    border: 1px solid #fde910;
  }
}
/*# sourceMappingURL=style.css.map */